/* PC */

@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet and Mobile */

@media screen and (max-width: 991px) {
    .header {
        padding: 26px 0 0;
        top: 0;
    }

    .logo {
        width: 57px;
    }
    .hide-on-tabletMobile {
        display: none;
    }

    .header__inner {
        justify-content: flex-end;
    }

    .header-circle.hide-on-pc {
        margin-left: 10px;
    }

    .header .logo__link {
        left: 0;
        transform: translate(0, -50%);
    }

    .header__separate {
        width: 100%;
        height: 1px;
        background: #d6d3e2;
        margin-top: 21px;
    }

    .hero__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__media {
        align-self: center;
        order: 2;
    }

    .hero__content {
        order: 1;
    }

    .hero .container {
        padding: 0 20px;
    }

    .hero__heading {
        font-size: 7.4rem;
    }

    .follow__box {
        margin-top: 64px;
    }

    .client__inner .row {
        flex-direction: column;
    }

    .client__heading {
        justify-content: center;
    }

    .client__heading::before {
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
    }

    .client__list {
        margin: 40px 0 0;
        column-gap: 90px;
        justify-content: center;
        grid-template: repeat(4, auto) / repeat(2, auto);
    }

    .specs__list {
        overflow: hidden;
    }

    .specs__item {
        flex-shrink: 0;
    }

    .specs__item-desc {
        width: 50%;
    }

    .project .row .col-12 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project__heading {
        max-width: 100%;
        text-align: center;
    }

    .project__desc {
        text-align: center;
    }

    .about__info > .row {
        justify-content: space-between;
    }

    .gallery__list .row {
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .footer .logo__link {
        order: 1;
        position: static;
        transform: none;

        .logo {
            width: 97px;
        }
    }

    .footer .header__mail-link {
        margin-top: 25px;
        order: 3;
    }

    .footer .navbar__list {
        margin-top: 35px;
        order: 2;
    }

    .footer .navbar__item {
        font-size: 2.6rem;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
    }

    .footer .header__mail {
        font-size: 3.2rem;
    }

    .footer .header-circle {
        width: 70px;
        height: 70px;
    }

    .footer .header__envelope {
        width: 36px;
    }

    .footer__inner {
        position: relative;
    }

    .footer .col-12 {
        justify-content: center;
    }

    .footer__copy {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 29px;
    }

    .footer__link {
        font-size: 2.5rem;
    }

    .footer__bottom {
        margin-top: 120px;
        align-items: center;
    }

    [class*="col-"]:has(.footer__traight) {
        order: 1;
    }

    [class*="col-"]:has(.footer__copy) {
        order: 3;
    }

    .footer__separate {
        margin: 29px -50% 20px;
        width: 200%;
        order: 2;
    }

    .navbar__menu {
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        padding: 100px 40px;
        width: 60vw;
        height: 100vh;
        background: #fff;
        transition: all 0.3s ease;
    }
    .navbar__checkbox:checked ~ .navbar__menu {
        right: 0;
        opacity: 1;
    }

    .navbar__checkbox:checked ~ .overlay {
        visibility: visible;
        opacity: 0.3;
    }

    .navbar__menu .navbar__item {
        font-size: 3.5rem;
    }

    .overlay {
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        background: #000;
        opacity: 0;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */

@media screen and (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .container {
        padding: 0 20px;
    }
    .heading {
        font-size: 3.6rem;
    }

    .desc {
        font-size: 1.6rem;
        width: 90%;
    }

    .btn {
        height: 55px;
        width: 147px;
        min-width: 147px;
    }

    .header {
        position: fixed;
        width: 100%;
    }

    .header .logo {
        width: 40px;
    }
    .header-circle {
        width: 32px;
        height: 32px;
        .header__envelope {
            width: 17px;
        }

        .header__nav-icon {
            width: 17px;
        }
    }

    .hero__inner {
        padding-top: 50px;
    }

    .hero__heading {
        font-size: 4.2rem;
        width: 260px;
    }

    .hero__desc {
        font-size: 16px;
        width: 318px;
    }

    .hero__action * {
        font-size: 1.6rem;
    }

    .follow-text {
        font-size: 1.4rem;
    }

    .platform-item {
        width: 31px;
        height: 31px;

        .fa-brands {
            font-size: 1.4rem;
        }
    }

    .hero__img {
        width: 259px;
    }

    .hero__decor {
        left: 40%;
        transform: translateX(-50%);
    }

    .navbar__menu .navbar__item {
        font-size: 2.2rem;
    }

    .client__heading {
        max-width: 170px;
        font-size: 2.8rem;
        margin: 0 auto;
        text-align: center;
    }
    .client__heading::before {
        width: 48px;
    }

    .client__list {
        column-gap: 30px;
    }

    .specs__desc {
        width: 83%;
    }

    .specs__item-title {
        font-size: 2.8rem;
    }

    .specs__item-desc {
        font-size: 1.6rem;
    }

    .project__heading {
        width: 65%;
    }

    .project__desc {
        margin-top: 20px;
    }

    .project__list > .row {
        --spacer-y: 20px;
    }

    .project__item {
        padding: 20px 15px;
    }

    .project__item-img {
        height: auto;
        width: 122px;
        margin-left: 22px;
    }

    .project__item-title {
        font-size: 2.4rem;
    }

    .project__item-desc {
        font-size: 1.4rem;
    }

    .project__item-more {
        font-size: 1.6rem;
    }

    .about__greeting {
        font-size: 2rem;
    }

    .about__num {
        font-size: 3rem;
    }

    .about__info-content {
        font-size: 1.6rem;
    }

    .video__control {
        width: 77px;
    }

    .intro__video {
        font-size: 1.2rem;
        width: 118px;
        height: 44px;
    }

    .comment__content {
        font-size: 1.8rem;
    }

    .comment__list {
        padding: 0;
    }

    .comment__decor {
        width: 96px;
    }

    .comment__name {
        font-size: 2.4rem;
    }

    .comment__author-info {
        font-size: 1.6rem;
    }

    .question__sentence {
        font-size: 2.4rem;
    }

    .question__item {
        padding: 0 85px 15px 10px;
    }

    .question__label {
        width: 33px;
        height: 33px;
    }

    .question__plus,
    .question__minus {
        width: 9px;
    }

    .question__answer {
        font-size: 1.6rem;
    }

    .gallery__heading-info {
        font-size: 2rem;
    }

    .cta {
        width: 100%;
        overflow: hidden;
    }

    .cta__emoji {
        width: 48px;
    }

    .footer .navbar__item {
        font-size: 1.6rem;
    }

    .footer .header__mail {
        font-size: 2.2rem;
    }

    .footer .header-circle {
        width: 46px;
        height: 46px;
    }

    .footer .header__mail-link {
        margin-top: 58px;
    }

    .footer .header__envelope {
        width: 24px;
    }
    .footer__copy {
        font-size: 1.6rem;
    }

    .footer__link {
        font-size: 1.6rem;
    }

    .footer .logo__link .logo {
        width: 67px;
    }
}
