*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

::before,
::after {
    display: inline-block;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ========================Common======================== */

.container {
    padding: 0;
}

a {
    text-decoration: none;
}

.heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.btn {
    width: 170px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);

    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--primary-color);
    background: #fdfdfd;
}

/* ========================Header======================== */

.header {
    padding: 35px 0;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;

    background: #fbfaff;
    transition: all 0.3s ease;
}

.header .container {
    width: min(1330px, 100% - 48px);
}

body.scrolled .header {
    padding: 23px 0;
    box-shadow: 5px 5px 18px #88888851;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.envelope-box {
    display: flex;
    align-items: center;
}

.envelope {
    position: absolute;
}

.envelope-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.id-branch {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 8px 21px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar__link:hover {
    text-decoration: underline;
}

/* ========================Hero======================== */

.hero {
    padding-top: 48px;
    background: #fbfaff;
    overflow: hidden;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    z-index: 1;
}

.hero__decor {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -178px;
    width: 900px;
}

.hero__img {
    display: block;
    width: 514px;
}

.hero__content {
    position: relative;
    max-width: 500px;
}

.hero__content .hero__decor {
    z-index: 0;
    width: 341.413px;
    bottom: -76px;
    right: -118px;
}

.hero__heading {
    font-size: 8rem;
    letter-spacing: -3.2px;
}

.hero__desc {
    margin-top: 20px;
    max-width: 370px;
}

.hero__action {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hero__link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
}

.hero__link:hover {
    text-decoration: underline;
}

.hero__follow {
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.hero__follow-desc {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 187.5%;
}

.hero__follow-platform-list {
    display: flex;
    margin-left: 15px;
    column-gap: 20px;
}

.fa-brands {
    color: #000;
}

.hero__follow-platform-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
