*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    background: #fff;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ========================Common======================== */

.container {
    padding: 0;
}

a {
    text-decoration: none;
}

.heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.btn {
    width: 170px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);

    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--primary-color);
    background: #fdfdfd;
}

/* ========================Header======================== */

.header {
    padding: 58px 0 28px;
    background: #fbfaff;
    position: sticky;
    top: -30px;
    left: 0;
    z-index: 99;
    transition: all 0.3s ease;
}

header.scrolled {
    box-shadow: 5px 5px 18px #88888851;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.header__content {
    width: min(1330px, calc(100% - 48px));
    margin: 0 auto;
}

.header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__mail-link {
    display: flex;
    align-items: center;
}

.header__mail-circle {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mail {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
}

.header__mail-link:hover {
    color: #080415;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 21.5px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar__item:hover {
    color: #000;
    text-shadow: 1px 0 1px currentColor;
}

/* ========================Hero======================== */

.hero {
    padding-top: 55px;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 165px;
}

.hero__media {
    position: relative;
    z-index: 1;
}

.hero__img {
    width: 514px;
    display: block;
}

.hero__decor {
    z-index: -1;
    position: absolute;
    left: -200px;
    bottom: 0;
}

.hero__heading {
    max-width: 500px;
    font-size: 8rem;
    letter-spacing: -0.32rem;
}

.hero__desc {
    max-width: 370px;
    margin-top: 20px;
}

.hero__action {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hero__link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
}

.hero__link:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.follow__box {
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.follow-text {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
}

.platform-item {
    color: #080415;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.platform-item:hover {
    border-color: #000;
}

.platform-list {
    display: flex;
    margin-left: 15px;
    align-items: center;
    column-gap: 20px;
}
