@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Bold.woff2") format("woff2"),
        url("dm-sans/DMSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-BoldItalic.woff2") format("woff2"),
        url("dm-sans/DMSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Medium.woff2") format("woff2"),
        url("dm-sans/DMSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Bold.woff2") format("woff2"),
        url("dm-sans/DMSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Italic.woff2") format("woff2"),
        url("dm-sans/DMSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-MediumItalic.woff2") format("woff2"),
        url("dm-sans/DMSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-MediumItalic.woff2") format("woff2"),
        url("dm-sans/DMSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Italic.woff2") format("woff2"),
        url("dm-sans/DMSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Medium.woff2") format("woff2"),
        url("dm-sans/DMSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-BoldItalic.woff2") format("woff2"),
        url("dm-sans/DMSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Regular.woff2") format("woff2"),
        url("dm-sans/DMSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("dm-sans/DMSans-Regular.woff2") format("woff2"),
        url("dm-sans/DMSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
